.vscode/**
.vscode-test/**
out/**
target/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.envrc
.prettierignore
.prettierrc.toml
shell.nix
todo.md
webpack.config.js

node_modules/**
