# Controls which files are packaged by `vsce`.

# Same syntax as gitignore (since version 1.92.0, but not longer in 1.95.0 ...).
# https://github.com/microsoft/vscode-vsce/issues/576
# https://github.com/microsoft/vscode-vsce/issues/588
# Pray that this feature will be readded soon.

# Ignore everything
/*

# These files are always included (so these lines don't matter at all)
!package.json
!README.md

# Except for these files
!COPYING
!Licenses.md
!CHANGELOG.md
!images/

# And the actual extension
!dist/
!wasm/
